.qr-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw; height: 100vh;
    background: rgba(30, 30, 30, 0.2);
    backdrop-filter: blur(5px);
    z-index: 2;
    
    .inner {
        .close {
            all: unset;
            position: absolute;
            right: 10px;
            top: 10px;
            color: red;
            // padding: 10px 10px;
            cursor: pointer;
            background: white;
            color: black;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            i {
                font-size: 1.5em;
            }
        }
        border-radius: 3px;
        position: absolute;
        width: 58%;
        height: 65%;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        background: $blue-primary;
        color: $white;
    }

    .second-instruction {
        display: flex;
        align-items: center;
    }
    :global(.action-button) {
        width: 42px;
        height: 42px;
    }

    .third-instruction {
        display: flex;
        align-items: center;   
    }

    :global(.qr-svg) {
        height: 25px;
        margin-left: 5px;
        font-size: 1em;
        color: black;
    }


    .qr-code {
        position: absolute;
        right: 50px;
        top: 30%;
    }
    
    .instructions {
        font-size: 1.8em;
        position: absolute;
        top: 30%;
        left: 5%;
        .list {
            margin-top: 35px;
            font-size: 0.7em;
            p {
                margin: 7px;
            }
            // font-weight: bold;
            // letter-spacing: 1px;
        }
    }
}
